.btn--component {
    @include buttonReset();
    font-weight: 400;
    font-size: var(--btn-size);
    border: 1px solid var(--g-btn-primary-border-color);
    color: var(--g-btn-color);
    border-radius: 5px;
    letter-spacing: -0.39px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.29);
    padding: 26px 15px;
    width: 175px;
    max-width: 100%;
    text-align: center;
    transition: all 0.2s;

    &.-primary {
        background: var(--g-btn-primary-bg-color);
        color: var(--g-btn-primary-text-color);
        width: 280px;
        border-color: transparent;
    }

    &:hover {
        color: var(--g-btn-primary-text-color);
        background: var(--btn-hover-bg);
        border-color: var(--btn-hover-bg);
    }

    &:focus {
        outline: none;
    }

    &:active {
        background: var(--g-btn-primary-bg-color);
        color: var(--g-btn-primary-text-color);
        border-color: transparent;
    }

    &.-selected {
        background: var(--g-btn-selected-bg);
        color: var(--g-btn-selected-color);
        border-color: transparent;
    }
}

.btn--small {
    @include buttonReset();
    font-weight: 400;
    font-size: var(--btn-small-size);
    line-height: 1;
    letter-spacing: -0.29px;
    width: 146px;
    max-width: 100%;
    border-radius: 5px;
    padding: 14px 10px;
    background: var(--g-btn-basic-bg-color);
    color: var(--g-btn-basic-color);
    border: 1px solid var(--g-btn-basic-border-color);
    text-align: center;
    transition: all 0.2s;

    &.-primary {
        background: var(--g-btn-primary-bg-color);
        color: var(--g-btn-primary-text-color);
        border-color: var(--g-btn-primary-bg-color);
    }

    &.-tertiary {
        background: var(--g-btn-tertiary-bg);
        color: var(--g-btn-tertiary-color);
    }

    &.-back {
        min-width: 77px;
        width: auto;
    }

    &:hover {
        text-decoration: none;
        color: var(--g-btn-primary-text-color);
        background: var(--btn-hover-bg);
        border-color: var(--btn-hover-bg);
    }

    &:focus {
        outline: none;
    }

    &:active {
        background: var(--g-btn-primary-bg-color);
        color: var(--g-btn-primary-text-color);
        border-color: var(--g-btn-primary-bg-color);
    }
}

.btn--login {
    @include buttonReset();
    font-weight: 400;
    letter-spacing: -0.29px;
    font-size: var(--btn-small-size);
    padding: 10px 17px;
    line-height: 1.1;
    color: var(--btn-login-color);
    background-color: #fff;
    border: 1px solid var(--btn-login-color);
    border-radius: 5px;

    &:hover {
        text-decoration: none;
        color: var(--g-btn-primary-text-color);
        background: var(--btn-hover-bg);
        border-color: var(--btn-hover-bg);
    }
}

@include media-breakpoint-up(md) {
    .btn--small {
        min-width: 130px;
        width: auto;
    }
}

@include media-breakpoint-up(xl) {
    .btn--small {
        min-width: 160px;
    }
}

@include media-breakpoint-down(xs) {
    .mobile--full--width {
        width: 100%;
    }
}