@mixin buttonReset(){
	padding: 0;
	display: inline-block;
	line-height: 1;
	background-color: transparent;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

