.header--h1 {
    font-size: var(--header-h1-size);
    letter-spacing: -1.11px;
    line-height: 1;
    font-weight: 300;
    color: var(--g-secondary-text-color);
    margin: 0;
}

.header--h2 {
    font-size: var(--header-h2-size);
    letter-spacing: -0.84px;
    margin: 0;
    line-height: 1.02;
    font-weight: 300;
    color: var(--g-primary-text-color);

    &.-steps {
        line-height: 1.2;
    }

    &.-center {
        text-align: center;
    }
}

.paragraph--component {
    color: var(--g-primary-text-color);
    font-size: var(--paragraph--size);
    letter-spacing: -0.43px;
    line-height: 1.44;

    &.-small {
        font-size: var(--paragraph--small-size);
    }

    &.-extrasmall {
        font-size: var(--paragraph--extra-small-size);
    }

    &.-light {
        color: var(--g-secondary-text-color);
    }

    &.-medium {
        font-weight: 500;
    }

    &.-center {
        text-align: center;
    }
}

@include media-breakpoint-down(xs) {
    .header--h1 {
        line-height: 1.1;
    }
}

@font-face {
    font-family: 'Lato';
    src: url('https://dev-assets.sherpascore.io/Lato-Medium.woff2') format('woff2'),
        url('https://dev-assets.sherpascore.io/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
