.sherpa--widget--sherpa {
    /* Global main variables */
    --g-primary-color: #EC33A9;
    --g-secondary-color: #A18CD1;
    --g-tertiary-color: #4E3F6C;
    --g-primary-text-color: #3E3934;
    --g-secondary-text-color: #FFFFFF;
    --g-tertiary-text-color: #000000;
    --g-main-bg-color: #FFFFFF;
    --g-section-primary-bg-color: transparent linear-gradient(180deg, #b9b8e8,#6a6987) 0 0 no-repeat padding-box;
    --g-section-intro-bg: var(--g-section-primary-bg-color);
    --g-section-secondary-bg-color: #F2F3F3;
    --g-section-tertiary-bg-color: #FAFAF9;
    --g-text-transform: capitalize;
    --g-burger-color: #484E56;
    --g-company-logo: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAEkAAAAYCAYAAAC2odCOAAAAAXNSR0IArs4c6QAAADhlWElm TU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAASaADAAQAAAABAAAAGAAA AAAMTGBdAAAFzUlEQVRYCeVYUVIbORBtzYwp+IpzArwnYHZxqszWmpgTrPcEmBPEnAA4QcwJ MCeI9wRMwtbiqoVgToA5QeDLVDwa7Xsai8gubJNdqkKBqmYktbp71E /drbbVeqW8K0p25FGauTYiW8cnZ51HUfdElASPBxAtUkUxqvlEbHu0bQQzNRlzI3xeeJsOEs BJta7x8YEyJtsyxhy+JNymg6QE6UXk7396PQcUATrufm6HtxohZa7 /D1CVSlyqrr156+uoVsrJ+lrZ2DzpL/zgcTT9 + 6oYReHRr2 /ijTAMYiOmSYBqcVzMlqIjyBWny05fqa6t1pWR96JUCUALQME72z4++dyaLvVjV8Y9CSGGUL r4tqUcKM4nAIrveL4jZ9F7lMgBAeJ3jJGPDGVjgt6dvic4GPMkhtXCUPp6MUyUUivcL4zZdg DppaCh03QrCsMEhr6ioQi9Gvhb4N+cZ19BBXXegJQ77p59A /oewd8q5Rp0mqEZXnW7vf4ki1vX6fCGKcFf52EUVGGZNCfPCNBLBWsT6eFgeJH0etccu+bL+ XoDPymHYfiOgjTcnjTDwAsxnWaJy1EOoPxDJnEfekgPb3o1kw91W6DkCGkxWVDRZbXyS8PxI /zj9crqpVuPoui8ulZ+79YRzn3KUJZPQYIaZZAivjga+2wpHNNbray2fTmrt1JmWpHAiLo7B ZxcA8wHDijUPDHRHeWgeJSjYgKltW7opbBGA5QKDtwmAUDixpP90GQdeygINxrK /DTJwznDEDnwDzx /cu7rD6OwA9JrXiKZkQ3y4ptNB6QSZT0IWvapYyhZEoRRkXowv6IMBnv0aOolgPmaajuduV5 zoZRY+5CTTJ9MrhGo9bXV1gioZkHspqwiKuYmqdgCleo+NtVysuyRhPv+3B8zbIyShgMKsh9 wox0xFHw+As2qHU /d0RleNukTBCVtevhf3dPEiOzmPEHD8bLPjKJ8ZyxUjepT5lP3dBc73ScfDr7BnnSnM5W0D9 I56UqCEkFKOHGNaKapbntA1RhaXLchNtD0qIYDypUHTl7rrOfG9/XceHCrS /lp0kvE5rT7eCdpCp5NmjFqBYBZgBl2k3wPmQPchHzQZXXSHuqE3V9s2MFZuM4W0B3tCC9XB zF5Y/tv/dCjWzNX0cMAVs8PPQsU5eHOk0nU6fZ76uBp8nukA6jf /fW5Y2V+Qip4DY9DWGbbDI+hpI25clMY6Mm0B55dhw17NiRHnkaRiO4Il0dcm+XwNut4dVCM 0IsBlGiFW2yQ1mmcn4NGQKGOCptUhpNus5/VqJ96fB6c6o0/nzbOcPpw /R0AdHncPd2YxvcgupE6YgkHZHrpYhRDL25d+YiQa1EeBW2N62xR3mVtQRIbJWiSrAvma /JzOMi2LUB5oq2P6OhYR0U2dkn7Kmmb/bRGl854G6GyJg9DzfYiHfbzGvMGDg0JVTE /fUBRCjlVMsrEOtV787yYjgDjd+AtJejY5Pe+Gt1ivwAoANgKLpRNo4I+vHwZnsUlAYB5oQj BKwzj0UMywi+vg5wHYSN9JlPQDy2D9yJtLEl6a27Iyp1jguMAolww0LuOZ17PWzW /0RQ8AZ6rZJdhEkZBbZ4s+EuWH/mG9jKsuGc+NvRx1VMnwEx4gVEfL6IcKkx4e /hJcBIgXpeg4VY526IwTrIDjXkuQdXMZDwZRuSbbAw3ujfp0W3ae4jMpA7OWZpEEpU4nqfH2 UZwtU6bzLnTvkte6mSj57K /A4kTuHLbuSGmvWCQbujFoO7XKQQKp7nPfATxIuVcwuf4KTYfJOSy2vfu0YabE4KXwJXz6x6 0OFsMz32AyEc3zPNQDhAg2md9wbXn2sZAopHuJ4k1mDE8owHQw08nZ80ZLE9iyRaHtsrGBfU f2li4OXnmDf9HrqP7PQGi5/m05zq+FyQaOwuolwQQsZgKEhfZ+PMEbO/shP/9jP58s /MX8poLEnHAdY9/E1Wc6rQzr2B7jrj9Cw92g4oI+Xm2AAAAAElFTkSuQmCC");
    --g-company-avatar: url("https://dev-assets.sherpascore.io/girl-home-jump.png");
    --g-menu-icon: url("//sherpa-score-proto-dev.ap-southeast-1.elasticbeanstalk.com/static/media/menu.5eb305dc.svg");
    --g-menu-close-icon: url("//sherpa-score-proto-dev.ap-southeast-1.elasticbeanstalk.com/static/media/menu-close.32282d53.svg");
    /* Global component variables */
    /* Nav/Header */
    --g-nav-bg-color: var(--g-main-bg-color);
    --g-nav-link-color: var(--g-secondary-text-color);
    --g-nav-link-bg-color: #FFFFFF;
    --g-nav-link-active-color: var(--g-primary-color);
    /* Banner */
    --g-banner-bg-color: var(--g-section-primary-bg-color);
    --g-banner-text-color: var(--g-secondary-text-color);
    /* Card */
    --g-info-bg-color: #EDE9F6;
    --g-info-text-color: var(--g-primary-text-color);
    /* Button */
    --g-btn-color: var(--g-btn-primary-bg-color);
    --g-btn-primary-bg-color: var(--g-primary-color);
    --g-btn-primary-text-color: var(--g-secondary-text-color);
    --g-btn-primary-border-color: var(--g-primary-color);
    --g-btn-secondary-bg-color: #4D406C;
    --g-btn-secondary-text-color: var(--g-secondary-text-color);
    --g-btn-secondary-border-color: var(--g-tertiary-color);
    --g-btn-tertiary-color: var(--g-btn-primary-text-color);
    --g-btn-tertiary-bg: var(--g-btn-secondary-bg-color);
    --g-btn-basic-bg-color: var(--g-section-secondary-bg-color);
    --g-btn-basic-color: var(--g-primary-text-color);
    --g-btn-selected-bg: var(--g-primary-text-color);
    --g-btn-selected-color: var(--g-secondary-text-color);
    /* Bullet/Custom Bullet */
    --g-bullet-border-color: #1abc9c;
    --g-bullet-bg-color: #1abc9c;
    --g-bullet-text-color: var(--g-secondary-text-color);
    /* Input */
    --g-input-text-color: var(--g-primary-color);
    --g-input-border-color: var(--g-primary-color);
    --g-input-highlight-color: var(--g-primary-color);
    --g-input-placeholder-color: #E9E8E7;
    /* Footer */
    --g-footer-bg-color: #3E3934;
    --g-footer-link-color: var(--g-secondary-text-color);
    --g-footer-text-color: var(--g-secondary-text-color);
    --g-footer-logo-img: url("https://dev-assets.sherpascore.io/sherpa-icon.de929ae8.svg");
    --g-footer-logo-height-desktop: 49px;
    --g-footer-logo-height-mobile: 24px;
    --g-footer-socials-color: #FFFFFF;
    --g-footer-socials-hover-color: var(--g-primary-color);

    /* Font  */
    --font-family: 'Lato', sans-serif;

    /* Headers */
    --header-h1-size: 46px;
    --header-h2-size: 35px;
    --header-h3-size: 19px;
    --paragraph--size: 18px;
    --paragraph--small-size: 14px;
    --paragraph--extra-small-size: 12px;

    /* Buttons */
    --btn-size: 16px;
    --btn-small-size: 12px;
    --btn-hover-bg: #EA7BC2;
    --btn-login-color: var(--g-btn-primary-border-color);
    --btn-login-border: var(--g-btn-primary-border-color);


    /* Form  */
    --error: #DA1B33;
    --error-size: 12px;
    --label-size: 14px;
    --label-color: var(--g-primary-text-color);
    --input-size: 19px;
    --radio-btn-color: var(--g-input-highlight-color);
    --radio-btn-color-checked: var(--g-secondary-text-color);
    --radio-btn-border: var(--g-input-border-color);
    --radio-btn-bg-checked: var(--g-info-text-color);
    --currency-color: var(--g-primary-color);
    --terms-checked: var(--g-secondary-text-color);
    --terms--title: var(--g-primary-color);

    --range-texts-size: 60px;
    --range-texts-color: var(--g-primary-color);
    --range-dots: var(--g-primary-color);

    /* Carousel  */
    --carousel-dot: #C6C4C3;
    --carousel-dot-active: var(--g-primary-color);
    --carousel-last-step-img: url("https://dev-assets.sherpascore.io/as-girl.png");

    /* steps  */
    --steps-top-logo: var(--g-footer-logo-img);
    --steps-top-logo-height-desktop: 34px;
    --steps-top-logo-height-mobile: 23px;
    --steps-text-img: url("https://dev-assets.sherpascore.io/girl-steps.png");
    
    /* score ring  */
    --score-ring: url("https://dev-assets.sherpascore.io/score-ring-sherpa.png");

    /* loader  */
    --loader-color: var(--g-primary-color);

    /* steps message mobile icon  */
    --icon-message-mobile: url("https://dev-assets.sherpascore.io/icon-message.png");

    /* start screen img position  */
    --start-screen-img-position: top center;
    --start-screen-overflow: hidden;
}


.sherpa--widget--frank {
    /* Global main variables */
    --g-primary-color: #FDC12C;
    --g-secondary-color: #29579B;
    --g-tertiary-color: #4E3F6C;
    --g-primary-text-color: #3E3934;
    --g-secondary-text-color: #FFFFFF;
    --g-tertiary-text-color: #000000;
    --g-main-bg-color: #FFFFFF;
    --g-section-primary-bg-color: #00BAC7;
    --g-section-intro-bg: url("https://dev-assets.sherpascore.io/scene.png"), var(--g-section-primary-bg-color);
    --g-section-secondary-bg-color: #F2F3F3;
    --g-section-tertiary-bg-color: #FAFAF9;
    --g-text-transform: capitalize;
    --g-burger-color: #484E56;
    --g-company-logo: url("https://dev-assets.sherpascore.io/frank-logo.svg");
    --g-company-avatar: url("https://dev-assets.sherpascore.io/pen-umb.png");
    --g-menu-icon: url("//sherpa-score-proto-dev.ap-southeast-1.elasticbeanstalk.com/static/media/menu.5eb305dc.svg");
    --g-menu-close-icon: url("//sherpa-score-proto-dev.ap-southeast-1.elasticbeanstalk.com/static/media/menu-close.32282d53.svg");
    /* Global component variables */
    /* Nav/Header */
    --g-nav-bg-color: var(--g-main-bg-color);
    --g-nav-link-color: var(--g-secondary-text-color);
    --g-nav-link-bg-color: #FFFFFF;
    --g-nav-link-active-color: var(--g-primary-color);
    /* Banner */
    --g-banner-bg-color: var(--g-section-primary-bg-color);
    --g-banner-text-color: var(--g-secondary-text-color);
    /* Card */
    --g-info-bg-color: #EDE9F6;
    --g-info-text-color: var(--g-primary-text-color);
    /* Button */
    --g-btn-color: var(--g-secondary-color);
    --g-btn-primary-bg-color: var(--g-primary-color);
    --g-btn-primary-text-color: #29579B;
    --g-btn-primary-border-color: var(--g-secondary-color);
    --g-btn-secondary-bg-color: #4D406C;
    --g-btn-secondary-text-color: var(--g-secondary-text-color);
    --g-btn-secondary-border-color: var(--g-tertiary-color);
    --g-btn-tertiary-color: var(--g-secondary-text-color);
    --g-btn-tertiary-bg: var(--g-secondary-color);
    --g-btn-basic-bg-color: #fff;
    --g-btn-basic-border-color: var(--g-secondary-color);
    --g-btn-basic-color: var(--g-secondary-color);
    --g-btn-selected-bg: var(--g-primary-color);
    --g-btn-selected-color: var(--g-secondary-color);
    /* Bullet/Custom Bullet */
    --g-bullet-border-color: #1abc9c;
    --g-bullet-bg-color: #1abc9c;
    --g-bullet-text-color: var(--g-secondary-text-color);
    /* Input */
    --g-input-text-color: var(--g-secondary-color);
    --g-input-border-color: var(--g-primary-color);
    --g-input-highlight-color: var(--g-primary-color);
    --g-input-placeholder-color: #E9E8E7;
    /* Footer */
    --g-footer-bg-color: #D8D8D8;
    --g-footer-link-color: var(--g-secondary-text-color);
    --g-footer-text-color: var(--g-secondary-text-color);
    --g-footer-logo-img: url("https://dev-assets.sherpascore.io/PENGUIN-bottom.svg");
    --g-footer-logo-height-desktop: 43px;
    --g-footer-logo-height-mobile: 24px;
    --g-footer-socials-color: #FFFFFF;
    --g-footer-socials-hover-color: var(--g-primary-color);

    /* Font  */
    --font-family: 'Lato', sans-serif;

    /* Headers */
    --header-h1-size: 46px;
    --header-h2-size: 35px;
    --header-h3-size: 19px;
    --paragraph--size: 18px;
    --paragraph--small-size: 14px;
    --paragraph--extra-small-size: 12px;

    /* Buttons */
    --btn-size: 16px;
    --btn-small-size: 12px;
    --btn-hover-bg: #FFDA88;
    --btn-login-color: var(--g-secondary-color);
    --btn-login-border: var(--g-secondary-color);

    /* Form  */
    --error: #DA1B33;
    --error-size: 12px;
    --label-size: 14px;
    --label-color: var(--g-primary-text-color);
    --input-size: 19px;
    --radio-btn-color: var(--g-secondary-color);
    --radio-btn-color-checked: var(--g-secondary-color);
    --radio-btn-border: var(--g-secondary-color);
    --radio-btn-bg-checked: var(--g-primary-color);
    --currency-color: var(--g-secondary-color);
    --terms-checked: var(--g-secondary-color);
    --terms--title: var(--g-secondary-color);

    --range-texts-size: 60px;
    --range-texts-color: var(--g-secondary-color);
    --range-dots: var(--g-secondary-color);

    /* Carousel  */
    --carousel-dot: #C6C4C3;
    --carousel-dot-active: var(--g-primary-color);
    --carousel-last-step-img: url("https://dev-assets.sherpascore.io/pen-carousel.png");

    /* steps  */
    --steps-top-logo: url("https://dev-assets.sherpascore.io/PENGUIN-top.svg");
    --steps-top-logo-height-desktop: 43px;
    --steps-top-logo-height-mobile: 23px;
    --steps-text-img: url("https://dev-assets.sherpascore.io/pen-steps.png");

    /* score ring  */
    --score-ring: url("https://dev-assets.sherpascore.io/score-ring-frank.png");

    /* loader  */
    --loader-color: var(--g-secondary-color);

    /* steps message mobile icon  */
    --icon-message-mobile: url("https://dev-assets.sherpascore.io/frank-speech-bubble.svg");

    /* start screen img position  */
    --start-screen-img-position: bottom center;
}


@media (max-width: 767px) {
    .sherpa--widget--sherpa, .sherpa--widget--frank {
        --header-h2-size: 30px;
    }
}

@media (max-width: 575px) {
    .sherpa--widget--sherpa, .sherpa--widget--frank {
        --header-h1-size: 34px;
        --range-texts-size: 50px;
    }
}


/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://dev-assets.sherpascore.io/S6u9w4BMUTPHh7USSwaPGR_p.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://dev-assets.sherpascore.io/S6u9w4BMUTPHh7USSwiPGQ.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://dev-assets.sherpascore.io/S6uyw4BMUTPHjxAwXjeu.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://dev-assets.sherpascore.io/S6uyw4BMUTPHjx4wXg.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }