:root {
    /* Global main variables */
    --g-primary-color: #FDC12C;
    --g-secondary-color: #29579B;
    --g-tertiary-color: #4E3F6C;
    --g-primary-text-color: #3E3934;
    --g-secondary-text-color: #FFFFFF;
    --g-tertiary-text-color: #000000;
    --g-main-bg-color: #FFFFFF;
    --g-section-primary-bg-color: #00BAC7;
    --g-section-intro-bg: url("../assets/scene.png"), var(--g-section-primary-bg-color);
    --g-section-secondary-bg-color: #F2F3F3;
    --g-section-tertiary-bg-color: #FAFAF9;
    --g-text-transform: capitalize;
    --g-company-logo: url("../assets/frank-logo.svg");
    --g-company-avatar: url("../assets/pen-umb.png");
    --g-menu-icon: url("http://sherpa-score-proto-dev.ap-southeast-1.elasticbeanstalk.com/static/media/menu.5eb305dc.svg");
    --g-menu-close-icon: url("http://sherpa-score-proto-dev.ap-southeast-1.elasticbeanstalk.com/static/media/menu-close.32282d53.svg");
    /* Global component variables */
    /* Nav/Header */
    --g-nav-bg-color: var(--g-main-bg-color);
    --g-nav-link-color: var(--g-secondary-text-color);
    --g-nav-link-bg-color: #FFFFFF;
    --g-nav-link-active-color: var(--g-primary-color);
    /* Banner */
    --g-banner-bg-color: var(--g-section-primary-bg-color);
    --g-banner-text-color: var(--g-secondary-text-color);
    /* Card */
    --g-info-bg-color: #EDE9F6;
    --g-info-text-color: var(--g-primary-text-color);
    /* Button */
    --g-btn-color: var(--g-secondary-color);
    --g-btn-primary-bg-color: var(--g-primary-color);
    --g-btn-primary-text-color: #29579B;
    --g-btn-primary-border-color: var(--g-secondary-color);
    --g-btn-secondary-bg-color: #4D406C;
    --g-btn-secondary-text-color: var(--g-secondary-text-color);
    --g-btn-secondary-border-color: var(--g-tertiary-color);
    --g-btn-tertiary-color: var(--g-secondary-text-color);
    --g-btn-tertiary-bg: var(--g-secondary-color);
    --g-btn-basic-bg-color: #fff;
    --g-btn-basic-border-color: var(--g-secondary-color);
    --g-btn-basic-color: var(--g-secondary-color);
    --g-btn-selected-bg: var(--g-primary-color);
    --g-btn-selected-color: var(--g-secondary-color);
    /* Bullet/Custom Bullet */
    --g-bullet-border-color: #1abc9c;
    --g-bullet-bg-color: #1abc9c;
    --g-bullet-text-color: var(--g-secondary-text-color);
    /* Input */
    --g-input-text-color: var(--g-secondary-color);
    --g-input-border-color: var(--g-primary-color);
    --g-input-highlight-color: var(--g-primary-color);
    --g-input-placeholder-color: #E9E8E7;
    /* Footer */
    --g-footer-bg-color: #D8D8D8;
    --g-footer-link-color: var(--g-secondary-text-color);
    --g-footer-text-color: var(--g-secondary-text-color);
    --g-footer-logo-img: url("../assets/PENGUIN-bottom.svg");
    --g-footer-logo-height-desktop: 43px;
    --g-footer-logo-height-mobile: 24px;
    --g-footer-socials-color: #FFFFFF;
    --g-footer-socials-hover-color: var(--g-primary-color);

    /* Font  */
    --font-family: 'Lato', sans-serif;

    /* Headers */
    --header-h1-size: 46px;
    --header-h2-size: 35px;
    --header-h3-size: 19px;
    --paragraph--size: 18px;
    --paragraph--small-size: 14px;
    --paragraph--extra-small-size: 12px;

    /* Buttons */
    --btn-size: 16px;
    --btn-small-size: 12px;
    --btn-hover-bg: #FFDA88;
    --btn-login-color: var(--g-secondary-color);
    --btn-login-border: var(--g-secondary-color);

    /* Form  */
    --error: #DA1B33;
    --error-size: 12px;
    --label-size: 14px;
    --label-color: var(--g-primary-text-color);
    --input-size: 19px;
    --radio-btn-color: var(--g-secondary-color);
    --radio-btn-color-checked: var(--g-secondary-color);
    --radio-btn-border: var(--g-secondary-color);
    --radio-btn-bg-checked: var(--g-primary-color);
    --currency-color: var(--g-secondary-color);
    --terms-checked: var(--g-secondary-color);
    --terms--title: var(--g-secondary-color);

    --range-texts-size: 60px;
    --range-texts-color: var(--g-secondary-color);
    --range-dots: var(--g-secondary-color);

    /* Carousel  */
    --carousel-dot: #C6C4C3;
    --carousel-dot-active: var(--g-primary-color);
    --carousel-last-step-img: url("../assets/pen-carousel.png");

    /* steps  */
    --steps-top-logo: url("../assets/PENGUIN-top.svg");
    --steps-top-logo-height-desktop: 43px;
    --steps-top-logo-height-mobile: 23px;
    --steps-text-img: url("../assets/pen-steps.png");

    /* score ring  */
    --score-ring: url("../assets/score-ring-frank.png");
}

@media (max-width: 767px) {
    :root {
        --header-h2-size: 30px;
    }
}

@media (max-width: 575px) {
    :root {
        --header-h1-size: 34px;
        --range-texts-size: 50px;
    }
}
