@import "../../global/variables.css";
@import "../../global/bootstrap/mixins";
@import "../../global/mixins";
@import "../../global/bootstrap/bootstrap-grid";
@import "../../global/bootstrap/buttons";
@import "../../global/bootstrap/button-group";
@import "../../global/bootstrap/bootstrap-reboot";
@import "../../global/_buttons";
@import "../../global/_typography";


.sale--title{
  text-decoration: underline;
  text-align: center;
  margin: 2rem 0;
  text-transform: uppercase;
}
